.add-form {
    background-color: white;
    position: relative;
    z-index: 1;

    .alert {
        background-color: $danger;

        ul {
            list-style-type: disc;
            list-style-position: inside;
            text-align: start;
        }
    }
}
